:host ::-webkit-scrollbar {
    width: 8px;
}

/* Track */
:host ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
}

/* Handle */
:host ::-webkit-scrollbar-thumb {
    background: #888; /* color of the handle */
    border-radius: 6px; /* roundness of the handle */
     background: var(--LIGHT-BLUE); 

}

/* Handle on hover */
:host ::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the handle on hover */
}



.faq-section-container{
	background: var(--Bg-light);
	padding: 30px 80px;
	scroll-margin-top: 100px;
	

}
.slds-wrap{
	margin: auto;
}
.faq-section{

	padding-left: 50px;
}
 .direct-mail-section{
 display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
	width: 400px;
    flex: 1;
	background: white;
    align-items: center; 
	margin: 0 auto;
	padding: 50px 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	position: relative; 
}
 .direct-mail-content{

	flex:1;
	 display: flex;

    flex-direction: column;
    height: 400px;
	
   
    align-items: center; 
}
.direct-mail-content h2{
	margin: 10px auto;
	font-size: 2rem;
	text-align: center;
}
.faq-section .faq-container{
	flex: 2;
}
.vector{
	width: 4rem;
	height: 4rem;
}
.faq-box {
    border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.mail-button{
	width: 100%;
    padding: 10px;
}
.mail{
	font-size: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shootBtn {
	color: white !important;
}
.shootBtn a:hover{
	color: white !important;

}
.heading1{
	font-size: 3.1rem;
	color: var(--DARK-PINK);
}


.slds-grid {
    margin-top: 20px;
}

.slds-col {
    margin-bottom: 20px;
}

.slds-align_absolute-center {
    margin-top: 20px;
    text-align: center;
}

.mail-button a{
	color: black !important;
}
@media (max-width: 1500px)  {
	.faq-section-container{
		padding: 0 !important;
	}
	.faq-list{
		margin: 10px;
	}
}

@media (max-width: 550px)  {
	.faq-section{
		padding: 0 !important;
	}
	.direct-mail-section{
		width: 100%;
	}
	.heading1{
		font-size: 2rem;
	}
}