.dummy{
	color : black;
}

.onThankPage strong { padding-top: 15px; font-size: 18px; display: block; text-align: center !important; color: #0A84B4;font-family: 'PoppinsSemiBold'; padding-bottom: 15px;}